{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}"/>
    <title>Register</title>
</head>
<body>
    <div class="container">
        <form id="signup" action="register" method="POST">
            {% csrf_token %}
            <div class="header">
                <h3>Sign Up</h3>
                <p>You want to fill out this form</p>
            </div>
            <div class="sep"></div>
            <div class="inputs">
                <input type="text" name="first_name" placeholder="First Name" autofocus />
                <input type="text" name="last_name" placeholder="Last Name" />
                <input type="text" name="username" placeholder="Username" />
                <input type="email" name="email" placeholder="E-mail" />
                <input type="password" name="password1" placeholder="Password" />
                <input type="password" name="password2" placeholder="Confirm Password" />
                <input type="Submit"/>
            </div>
        </form>
    </div>
    <div>
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>​